h1{
    text-align: center;
    font-family: cursive;
}

.neon{
    color: rgb(37, 79, 3);     
    font-size: 50px;   
    font-family: cursive;
    animation: flash 1.5s infinite;
}

@keyframes flash {
    0%, 100% {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fa7705, 0 0 70px #fa7705, 0 0 80px #fa7705, 0 0 100px #fa7705, 0 0 150px #fa7705;
    }
    50% {
      text-shadow: 0 0 10px #fff, 0 0 20px #fcfcfc, 0 0 30px #fcfcfc, 0 0 40px #fa7705;
    }
  }