 <!--Sort movie by movieId, using Pipe-->
 <ul *ngFor= "let product of products | selectById:movieId " class="product">
    <li><img [src]="product.imageUrl" class="product-image"></li>
    <div class="product-detail">
    <li class="product-name">{{product.name}}</li>
    <li class="product-year">{{product.year}}</li>
    <li class="product-description">{{product.description}}</li>
    <li class="product-added">Added: {{product.added | date}}</li>
    <li>{{product.price}} SEK</li>
    <li><button (click)="addCart(movieId)">ADD CART</button></li>
    <li><button class="backBtn" (click)="backBtn()">BACK to LIST</button></li>
    </div>
</ul>




