<div *ngIf="items.length == 0 ">
  <h1 class="emptyMessage">The cart is empty. Please choose a movie.</h1>
</div>

<section class="main-section">
<!--User input form-->
<section class="form">
      <form #calcForm='ngForm' (ngSubmit)="onSubmit()" [formGroup]="checkoutForm">
        <h1>Create New Contact</h1>
        
        <div>
          <label for="firstName">First Name</label>
          <input id="firstName" type="text" name="firstName" formControlName="firstName"> 
        </div>

        <div>
          <label for="lastName">Last Name</label>
          <input id="lastName" type="text" name="lastName" formControlName="lastName">
        </div>
      
        <div>
          <label for="address">Address</label>
          <input id="address" type="tex"  name="address" formControlName="address">
        </div>

        <div>
          <label for="email">Email</label>
          <input id="email" type="tex" name="email" formControlName="email">
        </div>
      </form>
</section>

<section class="cartBtn">
  <a routerLink="/comfirm"><button class="button" type="submit" (click)="onSubmit()" [disabled]="calcForm.invalid" >COMFIRM ORDER</button></a>
</section>

<!--Total price-->
<section class="cart">   
  <p>Your Cart</p>
  <ul *ngFor="let item of items" >
      <li >{{item.name}}</li>
      <li >{{item.price | currency:'SEK' }} </li>
  </ul>

  <div class="total-price">
    <p>TOTAL PRICE </p>
    <p [innerText]="totalPrice()|currency:'SEK' "></p>
  </div>
</section>

</section>
 
