h2{
    text-align: center;
}

//--aspect w:200, h:255-
.item-img{
    width: 118px;
    height: 150px;
}

.item-price{
    width: 15%;
}

.item-quantity{
    width: 20px;
}

.input{
    width: 20px;
}

button{

    height: 30px;
}

.fas{
    font-size: 20px;
    padding-right: 2px;
}