h2{
    text-align: center;
}

//--aspect w:200, h:255-
.item-img{
    width: 118px;
    height: 150px;
}

.item-price .item-quantity{
    width: 15%;
}

button{
    width: 30px;
    height: 30px;
    font-size: 20px;
    padding:0;
}