 <!--Total price-->
 <section>   
     <ul *ngFor="let item of items" >
         <li >{{item.name}}</li>
         <li >{{item.price | currency:'SEK' }} </li>
     </ul>
  
     <div>
       <p>TOTAL PRICE IS  </p>
       <p [innerText]="totalPrice()|currency:'SEK' "></p>
     </div>

<!--User input form-->
<section>
      <p>Please input your information</p>
      <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="id"> ID</label>
            <input id="id" type="text" formControlName="id">
          </div>
        
        <div>
          <label for="name"> Name</label>
          <input id="name" type="text" formControlName="name">
        </div>
      
        <div>
          <label for="address">Address</label>
          <input id="address" type="tex"formControlName="address">
        </div>
      
        <a routerLink="/comfirm"><button class="button" type="submit">COMFIRM ORDER</button></a>
      
      </form>

</section>
 
