 <section>   
     <ul *ngFor="let item of items; let i = index" >
        <!--TItle-->
         <li class="th-title">{{item.name}}</li>
        <!--Price-->
         <li >{{item.price | currency:'SEK' }} </li>
     </ul>
  
     <div class="total-price">
       <p>TOTAL PRICE :  </p>
       <p class="td-ttlPrice" [innerText]="totalPrice()|currency:'SEK' "></p>
   </div>
    
   <a routerLink="/comfirm"><button class="checkout-Btn">COMFIRM ORDER</button></a>
</section> 

<section>
    <div class="cart-item" *ngFor="let item of items">
        <span>{{ item.name }} </span>
        <span>{{ item.price | currency }}</span>
      </div>
      
      <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
      
        <div>
          <label for="name">
            Name
          </label>
          <input id="name" type="text" formControlName="name">
        </div>
      
        <div>
          <label for="address">
            Address
          </label>
          <input id="address" type="text" formControlName="address">
        </div>
      
        <button class="button" type="submit">Purchase</button>
      
      </form>

</section>
 
